# Environment variables
.env
.env.*
!.env.example

# Dependencies
node_modules
package-lock.json

# Builds
dist
build
coverage

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System
.DS_Store
Thumbs.db
.scannerwork/
.scannerwork

# User Uploads (Local Storage)
uploads
